-#  This file is app/views/games/index.html.haml
%h2 All Video Games

= link_to 'Add Game', new_game_path

%table#games.table.table-striped.col-md-12
  %thead
    %tr
      %th Title
      %th Genre
      %th Score
      %th Developer
      %th More Info
  %tbody
    - @games.each do |game|
      %tr
        %td= game.title
        %td= game.genre
        %td= game.score
        %td= game.developer
        %td= link_to "More about #{game.title}", game_path(game)

