-#  This file is app/views/games/index.html.haml
%h2 All Video Games

= link_to 'Add Game', new_game_path

= form_tag games_path, :method => :get, :id => 'ratings_form' do
  = hidden_field_tag "title_sort", true if @title_header
  = hidden_field_tag ":score_sort", true if @score_header

%table#games.table.table-hover.table-striped.col-md-14
  %thead
    %tr
      %th{:class => @title_header}= link_to 'Game Title', games_path(:sort => 'title'), :id => 'title_header'
      %th Genre
      %th{:class => @score_header}= link_to 'Score', games_path(:sort => 'score'), :id => 'score_header'
      %th Developer
      %th More Info
  %tbody
    - @games.each do |game|
      %tr
        %td= game.title
        %td= game.genre
        %td= game.score
        %td= game.developer
        %td= link_to "More about #{game.title}", game_path(game)

