%h2 Add A New Game

= form_tag games_path do

  = label :game, :title, 'Title'
  = text_field :game, 'title'

  = label :game, :genre, 'Genre'
  = text_field :game, 'genre'

  = label :game, :score, 'Score'
  = number_field :game, :score

  = label :game, :developer, 'Developer'
  = text_field :game, 'developer'

  = submit_tag 'Save Changes', :class => 'btn btn-primary'
